.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  text-shadow: 0 0 0.25rem rgba(32, 188, 255, 0.774);
}

.logo {
  margin-left: 3rem;
}

.search {
  font-size: 16px;
  color: #ffffff;
  margin: 0 auto;
}

.bar {
  color: #faeaea;
  background: rgba(18, 52, 60, 0.5);
  box-shadow: 0px 0px 4px rgba(240, 204, 204, 0.25),
    inset 0px 0px 20px 5px rgba(108, 96, 96, 0.81);
  border-radius: 2.5rem;
}
.bar::placeholder {
  color: rgb(255, 255, 255);
}

.home {
  margin-right: 2rem;
  margin-block-start: auto;
}
